.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
  margin-top: 1.2rem;
}
.form__group {
  display: flex;
}
.form__error {
  display: flex;
  width: 100%;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  border: 1px solid red;
  padding: 0.4rem;
  color: red;
  border-radius: 0.4rem;
}
.repositories__title {
  color: white;
  text-align: center;
}
.repositories__error {
  display: flex;
  width: 100%;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  border: 1px solid red;
  padding: 0.4rem;
  color: red;
  border-radius: 0.4rem;
}
