@import './../../styles/base.scss';

.repositories {
  &__title {
    color: white;
    text-align: center;
  }

  &__error {
    display: flex;
    width: 100%;
    border: 1px solid $color-secondary;
    color: $color-secondary;
    @include rounded;
    @include m-sm('y');
    @include p-xs('all');
  }
}
