.btn {
  padding: 0.6rem 1.2rem;
  background-color: #e94560;
  color: white;
  border-radius: 0.4rem;
  transition: 0.3s;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
.btn:hover {
  color: #0a0505;
}
.btn--active {
  text-decoration: underline;
}
