@import './../../../styles/base.scss';

.error {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: $color-transparent;
  color: $color-light;

  &__description {
    @include m-lg('y');
  }

  &__img {
    height: 282px;
  }
}
