@import './../../../styles/base.scss';

.history {
  @include m-xl('top');

  &__list {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    @include m-xl('top');
  }

  &__item {
    color: $color-light;
    transition: 0.5s;
    @include rounded;
    @include p-md('all');
    @include m-md('bottom');

    &:nth-child(even) {
      color: $color-secondary;
    }
  }

  &__item:hover {
    background-color: $color-light;
    color: $color-primary;
  }
}
