@import './../../../styles/base.scss';

.history {
  width: 50%;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  list-style: none;

  &__item {
    color: $color-light;
    @include p-md('all');

    &:nth-child(even) {
      color: $color-secondary;
    }
  }

  &__item:hover {
    background-color: $color-transparent;
  }
}
