@import './../../styles/base.scss';

.app-error {
  @include vertical;
  align-items: center;
  justify-content: center;
  height: 50vh;

  &__icon {
    @include m-lg('bottom');
  }

  &__message {
    font-size: $space-lg;
    font-weight: bold;
    color: $color-light;
  }
}
