@import './../../styles/base.scss';
.page {
  text-align: center;

  &__title {
    color: $color-light;
  }

  &__result {
    font-size: $space-xl;
    color: $color-light;
    @include m-xl('top');
  }
}
.form {
  display: flex;

  &__input {
    outline: none;
    border: none;
    width: 100%;
    color: $color-secondary;
    @include rounded;
    @include p-sm('all');
  }
}
