$color-primary: #0f3460;
$color-secondary: #e94560;
$color-light: white;
$color-dark: #0a0505;
$color-disabled: #444;
$color-transparent: rgba(0, 0, 0, 0.8);
$max-mobile-width: 1000px;
$space-xs: 0.4rem;
$space-sm: 0.6rem;
$space-md: 1rem;
$space-lg: 1.2rem;
$space-xl: 2rem;
