.container {
  background-color: #0f3460;
  min-height: 100vh;
}
.navigation {
  display: flex;
  justify-content: center;
}
.navigation__list {
  display: flex;
  padding: 0.6rem;
  list-style: none;
}
.navigation__item {
  margin-left: 1rem;
  margin-right: 1rem;
}
.content {
  padding: 1rem;
}
