@import './../../styles/base.scss';

.container {
  background-color: $color-primary;
  min-height: 100vh;
}

.navigation {
  display: flex;
  justify-content: center;

  &__list {
    display: flex;
    list-style: none;
    @include p-sm('all');
    @include mobile {
      @include vertical;
      align-items: center;
    }
  }

  &__item {
    @include m-md('x');
    @include mobile {
      @include m-sm('bottom');
    }
  }
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  @include p-md('all');
}
