@import './../../styles/base.scss';

.form {
  @include vertical;
  @include m-lg(y);

  &__group {
    display: flex;
  }

  &__error {
    display: flex;
    width: 100%;
    color: $color-secondary;
    @include p-xs('all');
    @include rounded;
  }
}
