@import './../../../styles/base.scss';

.commit {
  justify-content: space-between;
  border: 1px solid white;
  transition: 0.5s;
  color: $color-light;
  @include vertical;
  @include m-md('bottom');
  @include p-sm('all');
  @include rounded;

  &:hover {
    background-color: $color-light;
    color: $color-primary;
  }

  &:nth-of-type(even) {
    border-color: $color-secondary;
  }

  &__message {
    font-weight: bold;
    color: $color-secondary;
    @include m-md('bottom');
  }
  &__footer,
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__info {
      @include mobile {
        @include vertical;
        &__author {
          margin-left: 0px;
        }
      }
    }

    &__author {
      font-weight: bold;
      @include m-sm('left');
    }

    &__button {
      @include vertical;
      @include btn;
    }
  }
}
