@import './../../../styles/base.scss';

.repository {
  border: 1px solid $color-secondary;
  @include p-md('all');
  @include m-lg('bottom');
  @include rounded;

  &:nth-of-type(even) {
    border: 1px solid $color-light;
  }

  &__item {
    border: 1px solid $color-light;
    @include rounded;
    @include p-lg('all');
    @include m-xl('top');

    &:nth-of-type(even) {
      border-color: $color-secondary;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @include m-lg('bottom');
    @include mobile {
      @include vertical;
      align-items: center;
    }
  }

  &__title {
    font-size: $space-xl;
    color: $color-light;
    text-align: center;
    @include m-lg('bottom');

    &:hover {
      color: $color-secondary;
    }
  }

  &__date {
    color: $color-light;
  }
}
